---
layout: main
---


<section class="exercises-overview">
<h1>Site content</h1>

<ul>
  <li>Weekly plans as <a href="{{site.baseurl}}/weekly-plans">html</a></li>
  <li>Exercises as <a href="{{site.baseurl}}/exercises">html</a></li>
  <li>Other docs as <a href="{{site.baseurl}}/other-docs">html</a></li>
  <li>Weekly plans, exercises and docs as <a href="{{site.baseurl}}/pdf">pdf files</a></li>
  <li><a href="{{site.baseurl}}/tags">Tags</a></li>
  <li><a href="{{site.baseurl}}/itsxml">ITS learning import XML</a></li>
</ul>

<h2>Links</h2>

<ul>
  <li>Python for everybody <a href="https://www.py4e.com/book.php">book</a></li>
  <li>Hand-in group on <a href="https://gitlab.com/21a-itt1-programming-exercises">gitlab</a></li>
  <li>Sample code from Charles Severance (PY4E Author) in a <a href="https://www.py4e.com/code3.zip">.zip file </a></li>
  <li>Sample code from Nikolaj Simonsen on <a href="https://gitlab.com/EAL-ITT/21a-itt1-programming/tree/master/docs/nikolaj_simonsen_programming_exercises">gitlab</a></li>
  <li>Introduction <a href="https://docs.google.com/presentation/d/1-PcroDZinSug-UOpUODu1rr7Ex-bb0eCHFxTNynv8eo/edit?usp=sharing">slides</a></li>
</ul>

</section>